<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="logo.PNG">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cookie&family=Roboto&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Black+Ops+One&family=Cookie&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">
    <script src="../js/main.js" defer></script>
    <title>Document</title>
</head>
<body>
    <section class="top">
      <nav class="navigation">
        <div ><a href="home.html"><img id="logo" src="../icons/logo.PNG" alt=""></a></div>
        <div class="menu">
            <ul class="lis_men open">
                <li><a href="main.html" class="mainmenu">home</a></li>
                <li><a href="services.html" class="mainmenu">services</a></li>
                <li><a href="about.html" class="mainmenu">about</a></li>
                <li><a href="portfolio.html" class="mainmenu">portfolio</a></li>
                <li><a href="contact.html" class="mainmenu">contact</a></li>
            </ul>
        </div>
        <div class="ham" onclick="menbtn(),drop()">
            <div class="icon"></div>
        </div>
      </nav>
   </section>

  <!-- body-->
  <div class="ab_body">
          <div class="about_cont" id="about_con">
                  <div class="title" id="ab">About</div>

                  <h4>Our company is managed by qualified employees who have a deep passion for the profession
                      and we have no doubt that we will deliver out work to you as quickly as possible.
                  </h4>

                  <h3>We appreciate your visit</h3>



          </div>
      </div>
   </div>
   <!-- footer-->
   
   <section class="footer">
    <nav class="footcon">
      <div ><a href="#"><img class="so_icon" src="../icons/telegram.png" alt=""></a>
        <a href="#"><img class="so_icon" src="../icons/facebook.png" alt=""></a>
        <a href="mailto:m.yohannes2010@gmail.com"><img class="so_icon" src="../icons/mail1.png" alt=""></a></div>
      <div class="copycon">
          <ul class="copyi" >
              <li class="pattent">Copyright 2023 yohannes</li>
              <li class="pattent">Yohannes - All Rights Reserved.</li>
          </ul>
      </div>
    </nav>
 </section>
   
</body>
</html>