<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="logo.PNG">
    <link rel="stylesheet" href="../css/main.css">
    <script src="../js/main.js" defer></script>
    <title>Document</title>
</head>
<body>
    <section class="top">
        <nav class="navigation">
          <div ><a href="home.html"><img id="logo" src="../icons/logo.PNG" alt=""></a></div>
          <div class="menu">
              <ul class="lis_men open">
                  <li><a href="main.html" class="mainmenu">home</a></li>
                  <li><a href="#" class="mainmenu">services</a></li>
                  <li><a href="about.html" class="mainmenu">about</a></li>
                  <li><a href="portfolio.html" class="mainmenu">portfolio</a></li>
                  <li><a href="contact.html" class="mainmenu">contact</a></li>
              </ul>
          </div>
          <div class="ham" onclick="menbtn(),drop()">
              <div class="icon"></div>
          </div>
        </nav>
     </section>
     <!-- -********************body*********************-->
     <div class="serviccontent">
        <div class="title">Service</div>
        <div class="ser_item">
            <div class="ser_dis">
                <h2 class="dis_title">Web Design</h2>

                <h4 class="dis">We make any type of website and document traking system that is very attractive and easy to use for this we take full responsibility for our website and give you a guarantee for one year.<br>
                    In additon to that we maintain and manage your website with integrity.</h4>

            </div>
            <div class="ser_dis">
                <h2 class="dis_title">Mobile App</h2>

                <h4 class="dis">We develop application for ios and android.
                    the applications we develop are secure trusted and friendly to use.</h4>
            </div>
            <div class="ser_dis">
                <h2 class="dis_title">Graphic Design</h2>

                <h4 class="dis">We design high-quality publication with modern applications . 
                    Our Graphic designer are ready to design for advetising and various eventand we offer quality printing according to the customer's needs.
                </h4>
            </div>
            <div class="ser_dis">
                <h2 class="dis_title">Networking</h2>

                <h4 class="dis">We have standard network deployment for home and for business.</h4>
            </div>
        </div>
      </div>
    
     </div>
     <section class="footer">
        <nav class="footcon">
          <div ><a href="#"><img class="so_icon" src="../icons/telegram.png" alt=""></a>
            <a href="#"><img class="so_icon" src="../icons/facebook.png" alt=""></a>
            <a href="mailto:m.yohannes2010@gmail.com"><img class="so_icon" src="../icons/mail1.png" alt=""></a></div>
          <div class="copycon">
              <ul class="copyi" >
                  <li class="pattent">Copyright 2023 yohannes</li>
                  <li class="pattent">Yohannes - All Rights Reserved.</li>
              </ul>
          </div>
        </nav>
     </section>
    
</body>
</html>